
.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}
.lista-suspensa select {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.842);
    background-color: rgb(0, 102, 58);
    color: #ffffff;
    border-radius: 8px;
    width: 100%;
    border: none;
    font-weight: bold;
    font-size: 15px;
    word-spacing: 1px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}