.formulario {
  
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin: 80px  0;
}
.formulario form{
    max-width: 80%;
    background-color: rgb(201, 247, 189);
    border-radius: 12px;
    padding: 26px 81px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.35);   

}